{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10" style="margin-top: 40px;">
            <h4 style="text-transform: uppercase;">wear a mask:</h4>
            <ul>
                <li>Everyone 2 and older should wear masks in public.</li>
                <li>Masks should be worn in addition to staying at least 6 feet apart, especially around people who don’t live with you.</li>
                <li>If someone in your household is infected, people in the household should take precautions including wearing masks to avoid spread to others.</li>
                <li>Wash your hands or use hand sanitizer before putting on your mask.</li>
                <li>Keep at least a 1-metre distance from others, even from your family members.</li>
                <li>Wear your mask over your nose and mouth and secure it under your chin.</li>
                <li>Fit the mask snugly against the sides of your face, slipping the loops over your ears or tying the strings behind your head.</li>
                <li>Stay in a separate room from other family members, and if not possible, wear a medical mask.</li>
                <li>If you have to continually adjust your mask, it doesn’t fit properly, and you might need to find a different mask type or brand.</li>
                <li>Make sure you can breathe easily.</li>
            </ul>
            <h4 style="text-transform: uppercase;">Stay 6 feet away from others:</h4>
            <ul>
                <li>Inside your home: Avoid close contact with people who are sick.</li>
                <p>   -  If possible, maintain 6 feet between the person who is sick and other household members.</p>
                <li>Outside your home: Put 6 feet of distance between yourself and people who don’t live in your household.</li>
                <p>   -  Remember that some people without symptoms may be able to spread virus.</p>
                <p>   -  Stay at least 6 feet (about 2 arm lengths) from other people.</p>
                <p>   -  Keeping distance from others is especially important for people who are at higher risk of getting very sick.</p>
            </ul>
            <h4 style="text-transform: uppercase;">avoid crowds:</h4>
            <ul>
                <li>Being in crowds like in restaurants, bars, fitness centers, or movie theaters put you at higher risk for COVID-19.</li>
            </ul>
            <h4 style="text-transform: uppercase;">Avoid poorly ventilated spaces:</h4>
            <ul>
                <li>Avoid indoor spaces that do not offer fresh air from the outdoors as much as possible. If indoors, bring in fresh air by opening windows and doors, if possible.</li>
            </ul>
            <h4 style="text-transform: uppercase;">wash your hands often:</h4>
            <ul>
                <li>Wash your hands often with soap and water for at least 20 seconds especially after you have been in a public place, or after blowing your nose, coughing, or sneezing.</li>
                <li>It’s especially important to wash: </li>
                <p>   -  Before eating or preparing food</p>
                <p>   -  Before touching your face</p>
                <p>   -  After using the restroom</p>
                <p>   -  After leaving a public place</p>
                <p>   -  After blowing your nose, coughing, or sneezing</p>
                <p>   -  After handling your mask</p>
                <p>   -  After changing a diaper</p>
                <p>   -  After caring for someone sick</p>
                <p>   -  After touching animals or pets</p>
            </ul>

            
            
            
        </div>
    </div>
</div>

{% endblock %}