{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10" style="margin-top: 40px;">
            <h4 style="text-transform: uppercase;">Most common symptoms:</h4>
            <ul>
                <li>Fever</li>
                <li>Dry cough</li>
                <li>Tiredness</li>
            </ul>
            <h4 style="text-transform: uppercase;">Less common symptoms:</h4>
            <ul>
                <li>Aches and pains</li>
                <li>Sore throat</li>
                <li>Diarrhoea</li>
                <li>Conjunctivitis</li>
                <li>Headaches</li>
                <li>Loss of taste or smell</li>
                <li>A rash on skin, or discolouration of fingers or toes</li>
            </ul>
            <h4 style="text-transform: uppercase;">serious symptoms:</h4>
            <ul>
                <li>Difficulty breathing or shortness of death</li>
                <li>Chest pain or pressure</li>
                <li>Loss of speech or movement</li>
            </ul>
            <p>Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility.</p>
            <p>People with mild symptoms who are otherwise healthy should manage their symptoms at home.</p>
            <p>On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.</p>
        </div>
    </div>
</div>
{% endblock %}
