{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10" style="margin-top: 40px;">
            <h4 style="text-transform: uppercase;">self care:</h4>
            <ul>
                <li>Call your health care provider or COVID-19 hotline to find out where and when to get a test.</li>
                <li>Cooperate with contact-tracing procedures to stop the spread of the virus.</li>
                <li>If testing is not available, stay home and away from others for 14 days.</li>
                <li>While you are in quarantine, do not go to work, to school or to public places. Ask someone to bring you supplies.</li>
                <li>Keep at least a 1-metre distance from others, even from your family members.</li>
                <li>Wear a medical mask to protect others, including if/when you need to seek medical care.</li>
                <li>Clean your hands frequently.</li>
                <li>Stay in a separate room from other family members, and if not possible, wear a medical mask.</li>
                <li>Keep the room well-ventilated.</li>
                <li>If you share a room, place beds at least 1 metre apart.</li>
                <li>Monitor yourself for any symptoms for 14 days.</li>
                <li>Call your health care provider immediately if you have any of these danger signs: difficulty breathing, loss of speech or mobility, confusion or chest pain.</li>
                <li>Stay positive by keeping in touch with loved ones by phone or online, and by exercising at home.</li>
            </ul>
            <h4 style="text-transform: uppercase;">medical treatments:</h4>
            <ul>
                <li>Optimal supportive care includes oxygen for severely ill patients and those who are at risk for severe disease and more advanced respiratory support such as ventilation for patients who are critically ill.</li>
                <li>Dexamethasone is a corticosteroid that can help reduce the length of time on a ventilator and save lives of patients with severe and critical illness.
                </li>
                <li>Check the levels of oxygen in your blood with a clip-on finger monitor.</li>
                <li>Give you a COVID-19 test. This involves putting a 6-inch cotton swab up both sides of your nose for about 15 seconds.</li>
            </ul>
            <p>WHO does not recommend self-medication with any medicines, including antibiotics, as a prevention or cure for COVID-19.</p>
            
        </div>
    </div>
</div>

{% endblock %}